.button {
    color: #fff;
    background-color: #4169e1;
    border: none;
    border-radius: 0.8vh;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1vh 2.5vh;
    margin-top: 4vh;
    cursor: pointer;
}